body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background:#f2f2f2;
}
.container{
	text-align:center;
}
#verification_heading{
	font-weight:700px;
	font-size:28px;
	margin-bottom:10px;
}
#verification_subtext{
	color:#555;
	font-size:12px;
	margin-bottom:25px;
}
.code-container{
	display:flex;
	justify-content:center;
	gap:10px;
}
.code{
	border-radius:8px;
	border: 2px solid #ddd;
	/* font-weight:bold; */
	text-align:center;
	font-size:28px;
	width:60px;
	height:60px;
	transition:ease 0.2s;
}
.code:focus {
    border-color:#3498db;
    outline: none;
}